@using MI.Entity.Enums;
@using PlatformWEB.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http

@using Newtonsoft.Json
@using PlatformWEB.Services.BannerAds.Repository
@using PlatformWEB.Services.Article.Repository
@using PlatformWEB.Services.Zone.Repository
@using PlatformWEB.Utility
@using Microsoft.AspNetCore.Http.Extensions
@using MI.Entity.Models
@using PlatformWEB.Services.Extra.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository

@inject IBannerAdsRepository bannerAdsRepository
@inject IZoneRepository zoneRepository
@model ZoneDetail
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;

    

}
@{
    @*ViewData["Title"] = "BlogList1";
        Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";*@
    
}



@if (Model != null)
{
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <h2 class="inner-title">
                @Model.Name
            </h2>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- List Blog -->
    <div class="section-11">
        <div class="container">
            <div class="inner-wrap">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-11 col-sm-12 col-12">
                        @{
                            var _total = 0;
                            var blog_items = articleRepository.GetArticlesInZoneId_Minify_FullFilter(Model.Id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, culture_code, "", 1, 10, out _total);
                            foreach (var item in blog_items)
                            {
                                <div class="blog-item mb-20">
                                    <a href="@LinkRedirectUrlUtility.BlogDetailUrl(item.Url)" title="@item.Title">
                                        <div class="inner-box">
                                            <div class="inner-image">
                                                <img src="@UIHelper.StoreFilePath(item.Avatar)" alt="@item.Title">
                                            </div>
                                            <div class="inner-info">
                                                <h2 class="inner-title">@item.Title</h2>
                                                <div class="inner-desc">
                                                    @Html.Raw(item.Description);
                                                </div>
                                                <div class="inner-date">
                                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List Blog -->
}

