@using MI.Entity.Enums;
@using PlatformWEBAPI.Services.Zone.ViewModal
@using PlatformWEBAPI.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using PlatformWEBAPI.Services.Article.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@using Utils
@using PlatformWEBAPI.Services.BannerAds.Repository
@using MI.Entity.Models
@using PlatformWEBAPI.Utility
@using Microsoft.AspNetCore.Http.Extensions
@inject IBannerAdsRepository bannerAdsRepository;

@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var Banner_Tuyendung = new DetailBanerAds();
    var Banner_Tuyendung_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Tuyendung");
    if (Banner_Tuyendung_Cache != null)
    {
        Banner_Tuyendung = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Tuyendung_Cache.MetaData);
    }
}
@{
    ViewData["Title"] = "RecruitmentDetail";
}
@{

    var detail = ViewBag.Detail as ArticleDetail;
}

@section styles {
    <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(Banner_Tuyendung.Image)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
        /*.detail img {
            max-width:100%;
            height:auto;
        }*/
         .detail-recuments img {
            max-width: 100% !important;
        }
    </style>

}
@if (detail != null)
{
    var recumentDetail = Newtonsoft.Json.JsonConvert.DeserializeObject<MI.Entity.CustomClass.ArticleRecruitment>(detail.Metadata);
    <!-- Banner Text Recruitment -->
    <div class="container mobi-hidden mb-30">
        <div class="banner-text-recruitment">
            <div class="banner-text-recruitment__image">
                <img src="~/top-ten-travel/images/logo-2.png" alt="Logo" />
            </div>
            <div class="banner-text-recruitment__content">
                <div class="banner-text-recruitment__title">
                    Tuyển dụng nhiều vị trí với mức thu nhập hấp dẫn
                </div>
                <div class="banner-text-recruitment__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Text Recruitment -->

    <!-- Page Recruitment -->
    <div class="page-recruitment mb-45">
        <div class="container">
            <!-- Menu Horizontal -->
            <div class="blog-cate-horizontal">
                <ul class="blog-cate-horizontal__list">
                    <li class="blog-cate-horizontal__item">
                        <a href="tuyen-dung.html" class="blog-cate-horizontal__link active">NHÂN VIÊN KẾ TOÁN</a>
                    </li>
                    <li class="blog-cate-horizontal__item">
                        <a href="tuyen-dung.html" class="blog-cate-horizontal__link">CHUYÊN VIÊN KINH DOANH</a>
                    </li>
                    <li class="blog-cate-horizontal__item">
                        <a href="tuyen-dung.html" class="blog-cate-horizontal__link">TRƯỞNG PHÒNG KINH DOANH</a>
                    </li>
                    <li class="blog-cate-horizontal__item">
                        <a href="tuyen-dung.html" class="blog-cate-horizontal__link">NHÂN VIÊN BÁN HÀNG</a>
                    </li>
                </ul>
            </div>
            <!-- End Menu Horizontal -->
            
            <div class="page-recruitment__wrap">
                <!-- Recruitment Detail -->
                <div class="recruitment-detail">
                    <h1 class="recruitment-detail__title">
                        @detail.Title
                    </h1>
                    @if (recumentDetail != null)
                    {
                        <div class="recruitment-detail__meta">
                            <div class="recruitment-detail__meta-item">
                                <img src="~/top-ten-travel/images/icons/people-gray.svg" alt="Icon User">
                                <span>@recumentDetail.Address</span>
                            </div>
                            <div class="recruitment-detail__meta-item">
                                <img src="~/top-ten-travel/images/icons/heart-gray.svg" alt="Icon Heart">
                                <span>@recumentDetail.Count</span>
                            </div>
                            <div class="recruitment-detail__meta-item">
                                <img src="~/top-ten-travel/images/icons/salary-gray.svg" alt="Icon Salary">
                                <span>@recumentDetail.Salary</span>
                            </div>
                        </div>
                    }

                    <div class="recruitment-detail__content">
                        @Html.Raw(detail.Body)
                    </div>
                    <div class="recruitment-detail__footer">
                        <div class="recruitment-detail__count-view">
                            <img src="~/top-ten-travel/images/icons/eye-green.svg" alt="Views">
                            <span>@detail.ViewCount</span>
                        </div>
                        <button class="facebook-button">
                            <img src="~/top-ten-travel/images/icons/like-fb.svg" alt="Like Facebook">
                            <span>Thích 1,4K</span>
                        </button>
                        <button class="facebook-button">
                            <span>Chia sẻ</span>
                        </button>
                    </div>
                    <!-- Recruitment Form Mobile -->
                    <div class="recruitment-form mt-30 desktop-hidden">
                        <h4 class="recruitment-form__title">Ứng tuyển</h4>
                        <div class="recruitment-form__box">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="Chuyên viên kinh doanh" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Họ tên *">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email *">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Số điện thoại *">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Địa chỉ *">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mức lương mong muốn *">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" rows="5" class="form-control" placeholder="Thông tin thêm"></textarea>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-7 col-7">
                                        <input type="text" class="form-control" placeholder="Gửi hồ sơ ngay">
                                        <input type="file" class="form-control recruitment-form__input-file">
                                    </div>
                                    <div class="col-sm-5 col-5">
                                        <button class="recruitment-form__btn-input-file">Chọn hồ sơ</button>
                                        <input type="file" class="form-control recruitment-form__input-file">
                                    </div>
                                    <div class="col-12">
                                        <small>* File đính kèm dung lượng tối đa 5MB</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="recruitment-form__submit">Ứng tuyển</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Recruitment Form Mobile -->
                    <!-- Comments -->
                    @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Article })
                    <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width=""></div>
                    <!-- End Comments -->
                </div>
                <!-- End Recruitment Detail -->
                <!-- Recruitment Form -->
                <div class="recruitment-form mobi-hidden">
                    <h4 class="recruitment-form__title">Ứng tuyển</h4>
                    <div class="recruitment-form__box">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Chuyên viên kinh doanh" readonly>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Họ tên *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Số điện thoại *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Địa chỉ *">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Mức lương mong muốn *">
                            </div>
                            <div class="form-group">
                                <textarea type="text" rows="5" class="form-control" placeholder="Thông tin thêm"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-7 col-7">
                                    <input type="text" class="form-control" placeholder="Gửi hồ sơ ngay">
                                    <input type="file" class="form-control recruitment-form__input-file">
                                </div>
                                <div class="col-sm-5 col-5">
                                    <button class="recruitment-form__btn-input-file">Chọn hồ sơ</button>
                                    <input type="file" class="form-control recruitment-form__input-file">
                                </div>
                                <div class="col-12">
                                    <small>* File đính kèm dung lượng tối đa 5MB</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="recruitment-form__submit">Ứng tuyển</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Recruitment Form -->
            </div>

        </div>
    </div>
    <!-- End Page Recruitment -->




   

    
}


