@using PlatformWEB.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using PlatformWEB.Utility

@using MI.Entity.Enums
@inject ICookieUtility cookieUtility
@model ProductMinify;
@{
    var item = Model;
    var link_ta = LinkRedirectUrlUtility.ProductDetailUrl(item.Url);
    bool isLazy = ViewBag.IsLazy;
    bool isPayOff = ViewBag.IsPayOff;
    bool isH4 = ViewBag.isH4;
}
    <div class="products-grid__item item-product" data-id="@item.ProductId" data-properties="@item.PropertyId" data-viewluotxem="@item.ViewCount">
        <div class="product-item-grid">
            
            <div class="product-item-grid__image">
                @if (isLazy)
                {
                    <a href="@link_ta"><img asp-append-version="true" src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar, false)?v=@WebHelper.Version()" class="lazy w-100 " alt="@item.Title" /></a>
                }
                @if (!isLazy)
                {
                    <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar, false)?v=@WebHelper.Version()" class="w-100 " alt="@item.Title" /></a>
                }
                @if (item.IsTraGop > 0)
                {
                    <div class="product-item-grid__pay">Trả góp 0%</div>
                }
                @if (item.ProductPriceInFlashSale > 0)
                {
                    var percensdown = Math.Round(((item.Price - item.ProductPriceInFlashSale) / (item.Price) * 100), 0);
                    if ((int)percensdown > 1)
                    {
                        var g = string.Format("Giảm -{0}%", (int)percensdown);
                        <div class="product-item-grid__discount">
                            <img src="~/top-ten-travel/images/icons/flash-yellow.svg" alt="Icon Flash" />
                            <span>@g</span>

                        </div>
                    }

                }
                @*@if (item.DiscountPercent > 0)
        {
            var g = string.Format("Giảm -{0}%", (int)item.DiscountPercent);
            <div class="product-item-grid__discount">
                <img src="~/design/images/icons/flash-yellow.svg" alt="Icon Flash" />
                <span>@g</span>

            </div>
        }*@


            </div>
            <div class="product-item-grid__content">
                <h4 class="product-item-grid__title">
                    <a href="@LinkRedirectUrlUtility.ProductDetailUrl(item.Url)">@item.Title</a>
                </h4>
                <div class="product-item-grid__price">
                    @{
                        decimal sale_price = 0;
                        decimal price = 0;
                        if (item.SalePrice > 0 && item.SalePrice < item.Price)
                        {
                            sale_price = item.SalePrice;
                            price = item.Price;
                        }
                        if (item.SalePrice == 0 || item.SalePrice >= item.Price)
                        {
                            sale_price = item.Price;
                            price = item.Price;
                        }
                    }
                    @if (item.Quantity == 0 && item.ProductQuantityInFlashSale == 0)
                    {
                        <p class="product-item-grid__price-new">Liên hệ</p>
                    }
                    else
                    {
                        @if (item.FlashSaleId > 0)
                        {
                            if (item.ProductPriceInFlashSale > 0)
                            {
                                <p class="product-item-grid__price-old">@Html.Raw(UIHelper.FormatNumber(price)) đ</p>
                            }

                            <p class="product-item-grid__price-new">@Html.Raw(UIHelper.FormatNumber(item.ProductPriceInFlashSale)) đ</p>

                        }
                        else
                        {
                            if (price > 1 && price > sale_price)
                            {
                                <p class="product-item-grid__price-old">@Html.Raw(UIHelper.FormatNumber(price)) đ</p>
                            }

                            <p class="product-item-grid__price-new">@Html.Raw(UIHelper.FormatNumber(sale_price)) đ</p>
                            @*if (price == 0 && item.Quantity > 0)
                {
                    if (item.Price == 0 && item.SalePrice == 0)
                    {

                        <p class="product-item-grid__price-new">Liên hệ</p>

                    }
                    if (item.Price > 0)
                    {


                        <p class="product-item-grid__price-new">@Html.Raw(UIHelper.FormatNumber(sale_price)) đ</p>

                    }
                }*@
                        }
                    }


                </div>
                <div class="product-item-grid__desc">
                    @if (!string.IsNullOrEmpty(item.Code))
                    {
                        <p>Mã Tour: @item.Code</p>
                    }
                    @if (item.NgayBatDau != null)
                    {
                        <p>Ngày Khởi Hành: @item.NgayBatDau.Value.ToString("dd/MM/yyyy")</p>
                    }
                    @if (!string.IsNullOrEmpty(item.NgayDem))
                    {
                        <p>Thời gian: @item.NgayDem</p>
                    }


                </div>
                <div class="product-item-grid__footer">
                    <div class="product-item-grid__rating">
                        <div class="product-item-grid__score">
                            <span>@(Math.Round(item.Rate,1))</span>
                            <span>Tuyệt vời</span>
                        </div>
                        <div class="product-item-grid__rating-number">@item.CountRate đánh giá</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
