
@using PlatformWEB.Services.Product.Repository
@using PlatformWEB.Services.Zone.Repository
@using MI.Entity.Enums
@using PlatformWEB.Services.BannerAds.Repository
@using PlatformWEB.Services.Store.Repository
@using PlatformWEB.Services.Locations.Repository
@using PlatformWEB.Services.Store.ViewModel
@using PlatformWEB.Services.Locations.ViewModal
@using PlatformWEB.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using PlatformWEB.Services.Article.Repository
@using Newtonsoft.Json
@using PlatformWEB.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var northside_add = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var northside_email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var southside_add = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var southside_email = bannerAdsRepository.GetConfigByName(culture_code, "southside_email");
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var logo = bannerAdsRepository.GetConfigByName(culture_code, "Logo");
    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var cultureSanPham = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "W2G_Culture_PICKUP");
    var cultures = WebHelper.ConvertSlideCulture(cultureSanPham);
}
@section styles{
    <style>
        .btn-block {
            font-size: 22px;
            text-decoration: none !important;
            color: black;
        }

        .btn.focus,
        .btn:focus {
            box-shadow: none !important;
        }

        .arrow {
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            transition: transform 0.3s ease;
        }

        /*.collapsed .arrow {
            transform: rotate(180deg);
        }*/
        .accordion-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h3 {
            padding: 0.5rem 1rem;
        }
    </style>


}
<div class="page-header">
    <div class="container">
        <h2 class="inner-title">
            @Html.Raw(WebHelper.GetCultureText(cultures, "PICKUP_TITLE"))
        </h2>
        @*<p>@Html.Raw(WebHelper.GetCultureText(cultures, "PICKUP_DESC"))</p>*@
    </div>
</div>
<div class="container mt-5">
    <h3>@Html.Raw(WebHelper.GetCultureText(cultures, "PICKUP_DESC"))
    </h3>
    <ul class="nav nav-tabs">

        @for (var i = 0; i < 99; i++)
        {
            var tabs = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "W2G_PICKUP_" + (i + 1));
            if (tabs != null)
            {
                var banners = WebHelper.ConvertSlide(tabs);
                if (banners != null)
                {
                    var _first = banners.FirstOrDefault();
                    if (_first != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(i == 0 ? "active":"")" data-toggle="tab" href="#@("W2G_PICKUP_" + (i + 1))">  @_first.Title</a>
                        </li>
                    }
                }
            }
        }


    </ul>

    <div class="tab-content mt-3">
        @for (var i = 0; i < 99; i++)
        {
            var tabs = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "W2G_PICKUP_" + (i + 1));
            if (tabs != null)
            {
                var banners = WebHelper.ConvertSlide(tabs);
                if (banners != null)
                {
                    var _first = banners.FirstOrDefault();
                    if (_first != null)
                    {
                        <div class="tab-pane fade @(i == 0 ? "show active":"")" id="@("W2G_PICKUP_" + (i + 1))">
                            <div class="block1">

                                <div class="accordion" id="@("W2G_PICKUP_" + (i + 1))-@i">
                                    @{
                                        for (var j = 0; j < banners.Skip(1).Count(); j++)
                                        {
                                            var _b = banners.Skip(1).ToArray()[j];
                                            <div class="card">
                                                <div class="card-header" id="@("W2G_PICKUP_" + (i + 1))-@j">
                                                    <h1 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left accordion-button" type="button" data-toggle="collapse"
                                                                data-target="#collapse-@("W2G_PICKUP_" + (i + 1))-@j" aria-expanded="@(j == 0 ? "true" : "false")" aria-controls="collapse-@("W2G_PICKUP_" + (i + 1))-@j">
                                                            @_b.Title
                                                            <span class="arrow"></span>
                                                        </button>
                                                    </h1>
                                                </div>

                                                <div id="collapse-@("W2G_PICKUP_" + (i + 1))-@j" class="collapse" aria-labelledby="@("W2G_PICKUP_" + (i + 1))-@j" data-parent="#@("W2G_PICKUP_" + (i + 1))">
                                                    <div class="card-body">
                                                        @Html.Raw(_b.Description)
                                                        @if (!string.IsNullOrEmpty(_b.Image))
                                                        {
                                                            <img src="@UIHelper.StoreFilePath(_b.Image, false)" class="img-fluid" />
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
        
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            //$('.accordion-button').click(function () {
            //    $(this).find('.arrow').toggleClass('rotate');
            //    // Kiểm tra xem có class "collapsed" hay không, nếu có thì xoay mũi tên
            //    if ($(this).hasClass('collapsed')) {
            //        $(this).find('.arrow').addClass('rotate');
            //    } else {
            //        $(this).find('.arrow').removeClass('rotate');
            //    }
            //});
        });
    </script>
}